<form #form="ngForm" (submit)="onSubmit(form)" class="p-4 bg-white shadow rounded-4 border">
  <input type="hidden" name="id" [value]="service.formData.id" />
  
  <div class="mb-3">
    <label class="form-label fw-semibold">Name</label>
    <input class="form-control form-control-lg"
           placeholder="Enter name"
           #name="ngModel" name="name"
           [(ngModel)]="service.formData.name" />
  </div>
  
  <div class="mb-3">
    <label class="form-label fw-semibold">Surname</label>
    <input class="form-control form-control-lg"
           placeholder="Enter surname"
           #surname="ngModel" name="surname"
           [(ngModel)]="service.formData.surname" />
  </div>
  
  <div class="mb-3">
    <label class="form-label fw-semibold">Birthdate</label>
    <input type="text"
           class="form-control form-control-lg"
           placeholder="YYYY-MM-DD"
           pattern="\d{4}-\d{2}-\d{2}"
           title="Please enter date in YYYY-MM-DD format"
           name="birthdate"
           #birthdate="ngModel"
           [(ngModel)]="service.formData.birthdate" />
  </div>
  
  <div class="d-grid">
    <button class="btn btn-lg btn-primary" type="submit">
      <i class="fa-solid fa-paper-plane me-2"></i> Submit
    </button>
  </div>
</form>
